@import url("./variables.css");
@import url("./global.css");

.container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: grid;
  width: 87.5%;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6.25rem;
  gap: 2rem;
}

.article {
  border-radius: 0.75rem;
  padding-left: 2.75rem;
  padding-top: 2.25rem;
  gap: 1.45rem;
}

.client-info {
  gap: 1.6rem;
}

.client-image {
  width: 2.4rem;
  outline: 2px solid hsla(210, 46%, 95%, 0.5);
}

.client-name {
  color: hsl(210, 46%, 95%);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.25;
}

.client-name span {
  font-size: 0.925rem;
  color: hsla(210, 46%, 95%, 0.5);
}

.testimonial-heading {
  font-size: 1.725rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  padding-right: 2.75rem;
}

.testimonial-comment {
  font-size: 1.1257rem;
  line-height: 1.37;
  margin-bottom: 2.7rem;
  color: hsla(210, 46%, 95%, 0.7);
  padding-right: 3.75rem;
}

.clifford_article {
  background: hsl(263, 55%, 52%) url("../images/bg-pattern-quotation.svg")
    no-repeat top right 10%/32%;
}

.walters_article {
  background-color: hsl(217, 19%, 35%);
}

.walters_article .testimonial-comment {
  padding-right: 0.2rem;
  line-height: 1.3;
  margin-bottom: 2.8rem;
}

.harmon_article,
.whittle_article {
  background-color: hsl(0, 0%, 100%);
}

.harmon_article .client-name,
.whittle_article .client-name {
  color: hsl(219, 29%, 14%);
}

.harmon_article .client-name span,
.whittle_article .client-name span {
  color: hsla(217, 30%, 14%, 0.5);
}

.harmon_article .testimonial-heading,
.whittle_article .testimonial-heading {
  color: hsl(219, 29%, 14%);
}

.harmon_article .testimonial-comment,
.whittle_article .testimonial-comment {
  color: hsla(217, 30%, 14%, 0.7);
}

.abrams_article {
  background-color: hsl(219, 29%, 14%);
}

.abrams_article .testimonial-heading {
  padding-right: 3rem;
}

.abrams_article .testimonial-comment {
  padding-right: 2.5rem;
}

.whittle_article .testimonial-comment {
  padding-right: 2.6rem;
  line-height: 1.35;
}

/* media 360px mobile */

@media (min-width: 22em) {
  .main-container {
    width: 87.25%;
    margin-top: 6.8rem;
    margin-bottom: 6.8rem;
    gap: 2.3rem;
  }

  .article {
    border-radius: 0.85rem;
    padding-left: 3.25rem;
    padding-top: 2.25rem;
    gap: 1.5rem;
  }

  .client-info {
    gap: 1.6rem;
  }

  .client-image {
    width: 2.65rem;
  }

  .client-name {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .client-name span {
    font-size: 1.05rem;
  }

  .testimonial-heading {
    font-size: 1.9rem;
    padding-right: 3.25rem;
  }

  .testimonial-comment {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 3rem;
    padding-right: 4.4rem;
  }

  .walters_article .testimonial-comment {
    padding-right: 0.5rem;
    line-height: 1.35;
    margin-bottom: 3.25rem;
  }

  .abrams_article .testimonial-heading {
    padding-right: 3rem;
  }

  .abrams_article .testimonial-comment {
    padding-right: 3rem;
    line-height: 1.38;
    margin-bottom: 3.25rem;
  }

  .whittle_article .testimonial-comment {
    padding-right: 3rem;
    line-height: 1.38;
  }
}

/* media 375px mobile */

@media (min-width: 23em) {
  .main-container {
    width: 87.25%;
    margin-top: 7.15rem;
    margin-bottom: 7.2rem;
    gap: 2.5rem;
  }

  .article {
    border-radius: 0.85rem;
    padding-left: 3.25rem;
    padding-top: 2.4rem;
    gap: 1.5rem;
  }

  .client-info {
    gap: 1.6rem;
  }

  .client-image {
    width: 2.65rem;
  }

  .client-name {
    font-size: 1.35rem;
    line-height: 1.3;
  }

  .client-name span {
    font-size: 1.15rem;
  }

  .testimonial-heading {
    font-size: 2rem;
    padding-right: 3.25rem;
  }

  .testimonial-comment {
    font-size: 1.315rem;
    line-height: 1.4;
    margin-bottom: 3.1rem;
    padding-right: 4.4rem;
  }

  .walters_article {
    gap: 1.6rem;
  }

  .walters_article .testimonial-comment {
    padding-right: 0.6rem;
    line-height: 1.39;
    margin-bottom: 3.15rem;
  }

  .abrams_article .testimonial-heading {
    padding-right: 3rem;
  }

  .abrams_article .testimonial-comment {
    padding-right: 3rem;
    line-height: 1.38;
    margin-bottom: 3.25rem;
  }

  .whittle_article .testimonial-comment {
    padding-right: 3rem;
    line-height: 1.38;
  }
}

/* media 540px mobile */

@media (min-width: 33em) {
  .main-container {
    width: 87.25%;
    margin-top: 10.2rem;
    margin-bottom: 10.4rem;
    gap: 3.5rem;
  }

  .article {
    border-radius: 1.1rem;
    padding-left: 4.6rem;
    padding-top: 3.6rem;
    gap: 2.2rem;
  }

  .client-info {
    gap: 2.6rem;
  }

  .client-image {
    width: 4rem;
  }

  .client-name {
    font-size: 1.85rem;
    line-height: 1.3;
  }

  .client-name span {
    font-size: 1.6rem;
  }

  .testimonial-heading {
    font-size: 2.9rem;
    padding-right: 4.6rem;
    line-height: 1.2;
  }

  .testimonial-comment {
    font-size: 1.89rem;
    line-height: 1.38;
    margin-bottom: 4.5rem;
    padding-right: 6.6rem;
  }

  .walters_article {
    gap: 2.25rem;
  }

  .walters_article .testimonial-comment {
    margin-bottom: 4.6rem;
  }

  .abrams_article .testimonial-heading {
    padding-right: 3.7rem;
  }

  .abrams_article .testimonial-comment {
    padding-right: 4.3rem;
    line-height: 1.38;
    margin-bottom: 4.7rem;
  }

  .whittle_article .testimonial-comment {
    padding-right: 4.45rem;
    line-height: 1.38;
  }
}

/* VSmall Screen Laptop 1024px */

@media (min-width: 64em) {
  .main-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    width: 77%;
    margin: auto;
    margin-top: 11.75rem;
    margin-bottom: 9.75rem;
    column-gap: 1.9rem;
    row-gap: 1.7rem;
  }

  .article {
    width: 100%;
    border-radius: 0.4rem;
    padding-left: 2.25rem;
    padding-top: 1.6rem;
    gap: 1.25rem;
    height: max-content;
  }

  .client-info {
    gap: 1.25rem;
  }

  .client-image {
    width: 2rem;
  }

  .client-name {
    font-size: 0.94rem;
    font-weight: 500;
    line-height: 1.25;
  }

  .client-name span {
    font-size: 0.775rem;
  }

  .testimonial-heading {
    font-size: 1.425rem;
    font-weight: 600;
    padding-right: 1rem;
  }

  .testimonial-comment {
    font-size: 0.95rem;
    line-height: 1.35;
    margin-bottom: 2.2rem;
    padding-right: 2.05rem;
  }

  .clifford_article {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .walters_article {
    grid-row: 1;
    grid-column: 3 / 4;
  }

  .whittle_article {
    grid-row: 1 / -1;
    grid-column: 4 / 5;
    padding-left: 2.4rem;
    gap: 1.4rem;
  }

  .harmon_article {
    grid-row: 2;
    grid-column: 1 / 2;
    gap: 1.4rem;
  }

  .abrams_article {
    grid-row: 2;
    grid-column: 2 / 4;
    gap: 1.4rem;
  }

  .clifford_article {
    background: hsl(263, 55%, 52%) url("../images/bg-pattern-quotation.svg")
      no-repeat top right 18%/19%;
  }

  .walters_article .testimonial-comment {
    padding-right: 2.15rem;
    line-height: 1.3;
    margin-bottom: 2.5rem;
  }

  .harmon_article .testimonial-heading {
    font-size: 1.45rem;
    padding-right: 2rem;
  }

  .harmon_article .testimonial-comment,
  .whittle_article .testimonial-comment {
    font-size: 0.95rem;
  }

  .abrams_article .testimonial-heading {
    padding-right: 2rem;
  }

  .abrams_article .testimonial-comment {
    padding-right: 3rem;
    font-size: 0.93rem;
    margin-bottom: 2rem;
  }

  .whittle_article .testimonial-comment {
    padding-right: 2rem;
    line-height: 1.35;
  }
}

/* Small Screen Laptop 1280px */

@media (min-width: 80em) {
  .main-container {
    width: 77%;
    margin: auto;
    margin-top: 14.6rem;
    margin-bottom: 12.25rem;
    column-gap: 2.6rem;
    row-gap: 2.2rem;
  }

  .article {
    width: 100%;
    border-radius: 0.6rem;
    padding-left: 2.75rem;
    padding-top: 2.25rem;
    gap: 1.3rem;
  }

  .client-info {
    gap: 1.25rem;
  }

  .client-image {
    width: 2.6rem;
  }

  .client-name {
    font-size: 1.175rem;
    line-height: 1.25;
  }

  .client-name span {
    font-size: 1rem;
  }

  .testimonial-heading {
    font-size: 1.79rem;
    padding-right: 1.25rem;
  }

  .testimonial-comment {
    font-size: 1.164rem;
    line-height: 1.38;
    margin-bottom: 3rem;
    padding-right: 2.475rem;
  }

  .walters_article {
    padding-left: 3rem;
  }

  .walters_article .client-info {
    gap: 2rem;
  }

  .walters_article .client-image {
    width: 2.25rem;
  }

  .whittle_article {
    padding-left: 2.8rem;
    gap: 1.75rem;
  }

  .harmon_article {
    gap: 1.6rem;
  }

  .abrams_article {
    gap: 1.6rem;
  }

  .clifford_article {
    background: hsl(263, 55%, 52%) url("../images/bg-pattern-quotation.svg")
      no-repeat top right 19%/19%;
  }

  .walters_article .testimonial-comment {
    padding-right: 2.5rem;
    line-height: 1.38;
    margin-bottom: 2.95rem;
  }

  .harmon_article .testimonial-heading {
    font-size: 1.8rem;
    padding-right: 2.6rem;
  }

  .harmon_article .testimonial-comment {
    margin-bottom: 2.25rem;
  }

  .harmon_article .testimonial-comment,
  .whittle_article .testimonial-comment {
    font-size: 1.175rem;
  }

  .abrams_article .testimonial-heading {
    padding-right: 2rem;
  }

  .abrams_article .testimonial-comment {
    padding-right: 3rem;
    font-size: 1.165rem;
    margin-bottom: 2.6rem;
  }

  .whittle_article .testimonial-comment {
    font-size: 1.175rem;
    padding-right: 2.25rem;
    line-height: 1.36;
    margin-bottom: 2.25rem;
  }
}

/* Medium Screen Laptop 1366px */

@media (min-width: 85em) {
  .main-container {
    width: 77%;
    margin: auto;
    margin-top: 15.6rem;
    margin-bottom: 12rem;
    column-gap: 2.75rem;
    row-gap: 1.75rem;
  }

  .article {
    width: 100%;
    border-radius: 0.6rem;
    padding-left: 3rem;
    padding-top: 2.25rem;
    gap: 1.6rem;
  }

  .client-info {
    gap: 1.2rem;
  }

  .client-image {
    width: 2.8rem;
  }

  .client-name {
    font-size: 1.3rem;
    line-height: 1.25;
  }

  .client-name span {
    font-size: 1.1rem;
  }

  .testimonial-heading {
    font-size: 1.9rem;
    padding-right: 3.25rem !important;
    line-height: 1.2;
  }

  .testimonial-comment {
    font-size: 1.245rem;
    line-height: 1.34;
    margin-bottom: 2.75rem;
    padding-right: 3.5rem;
  }

  .walters_article {
    padding-left: 3.25rem;
    padding-top: 2.25rem;
    gap: 1.6rem;
  }

  .walters_article .client-info {
    gap: 1.6rem;
  }

  .walters_article .client-image {
    width: 2.4rem;
  }

  .whittle_article {
    padding-left: 3.1rem;
    gap: 1.7rem;
  }

  .harmon_article {
    gap: 1.95rem;
  }

  .abrams_article {
    gap: 1.4rem;
  }

  .clifford_article {
    background: hsl(263, 55%, 52%) url("../images/bg-pattern-quotation.svg")
      no-repeat top right 18%/19%;
  }

  .walters_article .testimonial-comment {
    padding-right: 2.5rem;
    line-height: 1.37;
    margin-bottom: 2.4rem;
  }

  .harmon_article .testimonial-heading {
    font-size: 1.9rem;
    padding-right: 2.6rem;
  }

  .harmon_article .testimonial-comment {
    margin-bottom: 2.75rem;
  }

  .harmon_article .testimonial-comment,
  .whittle_article .testimonial-comment {
    font-size: 1.24rem;
  }

  .abrams_article .testimonial-heading {
    padding-right: 0.1rem !important;
  }

  .abrams_article .testimonial-comment {
    padding-right: 3.25rem;
    font-size: 1.225rem;
    margin-bottom: 2.25rem;
    line-height: 1.5;
  }

  .whittle_article .testimonial-comment {
    font-size: 1.24rem;
    padding-right: 2.75rem;
    line-height: 1.38;
    margin-bottom: 2rem;
  }
}

/* Medium Screen Laptop 1440px */
@media (min-width: 90em) {
  .main-container {
    width: 77%;
    margin: auto;
    margin-top: 16.4rem;
    margin-bottom: 12.9rem;
    column-gap: 2.75rem;
    row-gap: 2.4rem;
  }

  .article {
    width: 100%;
    border-radius: 0.6rem;
    padding-left: 3.1rem;
    padding-top: 2.4rem;
    gap: 1.9rem;
  }

  .client-info {
    gap: 1.8rem;
  }

  .client-image {
    width: 2.8rem;
  }

  .client-name {
    font-size: 1.3rem;
    line-height: 1.25;
  }

  .client-name span {
    font-size: 1.1rem;
  }

  .testimonial-heading {
    font-size: 2.01rem;
    padding-right: 2.6rem !important;
    line-height: 1.2;
  }

  .testimonial-comment {
    font-size: 1.31rem;
    line-height: 1.33;
    margin-bottom: 3rem;
    padding-right: 3.6rem;
  }

  .walters_article {
    padding-left: 3.55rem;
    padding-top: 2.4rem;
    gap: 1.9rem;
  }

  .walters_article .testimonial-heading {
    padding-right: 0;
    line-height: 1.2;
  }

  .walters_article .client-info {
    gap: 1.8rem;
  }

  .walters_article .client-image {
    width: 2.6rem;
  }

  .whittle_article {
    padding-left: 3.4rem;
    gap: 2rem;
  }

  .harmon_article {
    gap: 2.1rem;
  }

  .abrams_article {
    gap: 2.1rem;
  }

  .clifford_article {
    background: hsl(263, 55%, 52%) url("../images/bg-pattern-quotation.svg")
      no-repeat top right 19%/19%;
  }

  .walters_article .testimonial-comment {
    padding-right: 2.5rem;
    line-height: 1.33;
    margin-bottom: 3rem;
  }

  .harmon_article .testimonial-heading {
    font-size: 2rem;
    padding-right: 4rem !important;
  }

  .harmon_article .testimonial-comment {
    margin-bottom: 2.75rem;
  }

  .harmon_article .testimonial-comment,
  .whittle_article .testimonial-comment {
    font-size: 1.32rem;
  }

  .abrams_article .testimonial-heading {
    padding-right: 2rem;
  }

  .abrams_article .testimonial-comment {
    padding-right: 3.6rem;
    font-size: 1.31rem;
    margin-bottom: 2.5rem;
    line-height: 1.38;
  }

  .whittle_article .testimonial-comment {
    font-size: 1.3rem;
    padding-right: 3rem;
    line-height: 1.38;
    margin-bottom: 2.75rem;
  }
}
